In [ ]:
%cd ..

c:\Users\HP\OneDrive - University of Moratuwa\Desktop\TMS-Project\TMS-Backend

In [2]:
from dotenv import load_dotenv
import os
from pathlib import Path

In [3]:
load_dotenv()

True

In [4]:
Path().cwd()

WindowsPath('c:/Users/HP/OneDrive - University of Moratuwa/Desktop/TMS-Project/TMS-Backend')

In [ ]:
# from src.database.database import engine
# from src.database.models import GPSMaster
# import pandas as pd

In [ ]:
# df = pd.read_sql("SELECT * FROM master_gps", engine)

In [11]:
from src.core.master import MasterManager

manager = MasterManager()

In [12]:
df = manager.gps_df

In [13]:
df

,id,shop_code,location,address,brand,district,latitude,longitude
0,1,0,smak,"Smak, Kadawatha, Sri Lanka",smak,Gampaha,7.003832,79.939480
1,2,3,Wattala SC,"Arpico, Wattala",Arpico,Gampaha,6.990668,79.893171
2,3,4,Borelasgamuwa SS,"Arpico, Borelasgamuwa",Arpico,Colombo,6.840989,79.901719
3,4,5,Hyde Park SC,"Hyde Park SC, Sri Lanka",Arpico,Colombo,6.917587,79.858519

In [19]:
df[['latitude', 'longitude']]

   latitude  longitude
0  7.003832  79.939480
1  6.990668  79.893171
2  6.840989  79.901719
3  6.917587  79.858519